
numpy==1.26.4
Pillow==10.4.0
scipy==1.13.1
trimesh==4.5.3
matplotlib==3.9.2
plotly==5.24.1
requests==2.32.3
tqdm==4.66.5
gradio==5.17.1
opencv-python-headless==4.10.0.84
huggingface_hub==0.24.6
safetensors==0.4.4
einops==0.8.0
onnxruntime==1.19.2
open3d==0.18.0
psutil==6.0.0
